services:
  companyapi:
    build:
      context: .
      dockerfile: src/CompanyAPI/Company.API/Dockerfile
    ports:
      - "9000:80"
    environment:
      - ASPNETCORE_URLS=http://+:80

  salesapi:
    build:
      context: .
      dockerfile: src/SalesAPI/Sales.API/Dockerfile
    ports:
      - "9001:80"
    environment:
      - ASPNETCORE_URLS=http://+:80

  apigateway:
    build:
      context: .
      dockerfile: APIGateway/Dockerfile
    ports:
      - "9002:80"
    environment:
      - ASPNETCORE_URLS=http://+:80
    depends_on:
      - companyapi
      - salesapi
